.card-text{
		color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 3em;
		line-height: 7px;
}
div h2{
	text-align: center;
}

#cardImage{
  width: auto !important;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
  min-height: 100px;
}

i.right{
  float: right;
}

.img-responsive{
  max-width: 50px !important;
  float: left;
  max-height: 39px;
}

div.collapsible-header p{
  float: none;
}

ul.collapsible{
  list-style-type: none;
  list-style-image: none;
}

#likeButton{
  float: right;
}

div.card-panel{
  min-height: 85px;
  max-height: 85px;
}
