div.center-block.container{
	padding-top: 70px;
}

h1#welcomeHeader{
	text-align: center;
}

input#joinRoom{
		padding: 5px;
}

input#createRoomButton{
	padding: 5px;
}

input#roomCode{
	padding: 5px;
}
  nav #navbar ul{
		list-style: none;
	}

	div#login-buttons{
		margin-top: 10px;
	}
