div.content{
	margin-top:100px;
}
h1.center{
margin-bottom:0 !important;
}
.center {
    margin-left: 25% !important;
	margin-right:25%;
	margin-bottom:10px;
	text-align:center;
    width: 30%;
    padding: 10px;
}
