
div#copyToClipboardButton{
  margin-left: 10px;
}

#editor{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    resize: none
}
table, th ,td{
	border: 0;
	width: 450px;
}
#draggableCol{
  min-height: 100px;
}
div.filter-form{
    text-align:center;
}
#show-users-button{
  float:left;
}
.side-nav{
  transform: translateX(0px) !important;
  text-align: center;
}


i.fa-plus-circle {
  line-height: inherit !important;
  color: aqua;
}
div.panel-body {
  text-align: center;
}

i.add-card{
  line-height: 2px;
}

div.form-modal{
  margin-top: -11%;
  float: right;
}
#categoryHeader{
  font-size: 4em;
  text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .card-form form div.form-group {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
  }
}

@media only screen and (min-width: 768px) {
  h1.text-info {
    margin-top: 75px;
  }
}
