#editor{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    resize: none
}

.card-form form div.form-group{
  padding-left: 20px;
  padding-right: 20px;
}

.card-form form label{
  font-size: 20px;
}
 i.fa-plus-circle{
   line-height: inherit !important;
   color: aqua;
 }

 div.panel-body{
   text-align: center;
 }

 @media only screen and (min-width: 768px) and (max-width: 1024px){
   .card-form form div.form-group{
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 15px;
   }
 }

 form#tagSearchForm{
   margin-top: 75px;
 }
