.searchInfoDiv {
	display:inline-block;
	vertical-align: middle;
} 

.filterDiv {
	display:inline-block;
} 

.searchInfoDiv {
    position: relative;
    display: inline-block;
}

.searchInfoDiv .tooltiptext {
    visibility: hidden;
    white-space: pre;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}

.searchInfoDiv:hover .tooltiptext {
    visibility: visible;
}
