<template name="card">
	<div class="card container-fluid">
		<hr>
		<div class="input-group">
			<input type="text" class="form-control thoughts" placeholder="Thoughts..." aria-describedby="basic-addon1">
			<span class="input-group-addon">
				<input type="radio" name="category" id="goodCategoryRadio" aria-label="..."> Good
			</span>
			<span class="input-group-addon">
				<input type="radio" name="category" id="badCategoryRadio" aria-label="..."> Bad
			</span>
			<span class="input-group-btn">
				<button class="btn btn-default" id="submitCardButton" type="button">Submit!</button>
			</span>
		</div>
	</div>
</template>
