<template name="createRoom">
    <h1 class="center text-primary">CREATE A ROOM</h1>
    <form class="create-room">
        <h3 class="center">
            <span>
                <label class="text-info">Room Code</label>
                <div id="newRoomCode" class="input-group">
                    <input type="text" class="form-control" name="roomcode" value="{{getNewRoomNumber}}" size="35" maxlength="35" autocomplete="off">
                    <span class="input-group-addon" title="Room name not available" id="roomNotAvailableIcon" style="display: {{roomNotAvailableShow}}"><i class="fa fa-times-circle text-warning"></i></span>
                    <div class="input-group-btn">
                        <button id="generateNewRoomCodeButton" type="button" class="btn btn-default"><i class="fa fa-refresh text-info"></i></button>
                    </div>
                </div>
            </span>
        </h3>
        <h3 class="center">Alias:
            <input type="text" name="alias" value="Moderator" size="20" maxlength="20" autocomplete="off">
        </h3>
        <input class="center btn btn-primary {{createRoomDisable}}" id="createAndJoinRoomButton" name="joinRoom" type="submit" value="CREATE AND JOIN ROOM" {{createRoomDisable}}>
    </form>
</template>
