<template name="landingPage">
    <div class="center center-block container">
        <h1 class="center center-block text-info" style="margin: 0 auto">Welcome to the Retrospectre</h1>
        <input class="center center-block btn-primary" id="createRoomButton" type="button" value="CREATE ROOM" style="margin: 0 auto">
        <br>
        <h2 class="center center-block">Enter a Room Code</h2>
        <form class="join-room">
            <input class="center center-block" id="roomCode" name="roomCode" type="text" placeholder="Room Code..." autocomplete="off">
            <br>
            <input class="center center-block btn-primary" id="joinRoom" name="joinRoom" type="submit" value="JOIN ROOM" style="margin: 0 auto">
        </form>
    </div>
</template>
