<template name="landingPage">
    <div class="center center-block container">
        <h1 class="center center-block" style="margin: 0 auto">Welcome to the Retrospectre</h1>
        <input class="center center-block btn-primary btn-lg" id="createRoomButton" type="button" value="CREATE ROOM" style="margin: 0 auto">
        <br>
        <input class="center center-block btn-primary btn-lg" id="joinRoom" name="joinRoom" type="button" value="JOIN ROOM" style="margin: 0 auto">
    </div>
</template>
