<template name="room">
	<div class="container-fluid">
		<h1> Sprint Retrospective</h1>
		{{> card}}
		<hr>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<h2> Good category </h2>
					<ul class="fa-ul">
						{{#each goodCards}}
							<li><span id="deleteCardButton"><i class="fa fa-trash-o"></i></span>&nbsp;{{text}}&nbsp;</li>
						{{/each}}
					</ul>
				</div>
				<div class="col-xs-6 col-sm-6">
					<h2> Bad category </h2>
					<ul class="fa-ul">
							{{#each badCards}}
								<li><span id="deleteCardButton"><i class="fa fa-trash-o"></i></span>&nbsp;{{text}}&nbsp;</li>
							{{/each}}
					</ul>
				</div>
			</div>
            <div style="margin-top: 25px">
                <h3>Keynotes</h3>
                <textarea rows="5" style="width: 100%; margin-bottom: 80px; resize: none" placeholder="Take any notes you may have here..."></textarea>
            </div>
		</div>
	</div>
</template>
