<template name="card">
    {{#with cardInfo this.id}}
    <div id="card_{{_id}}" class="card-panel diseased_newt" style="background-color:{{../color}}" data-toggle="modal" data-target="#{{_id}}">
      <!-- <span class="card-text">{{text}}</span> -->
      <span class="card-text">{{#emojione}}{{text}}{{/emojione}}</span>
      <div class="card-action">
        {{#each tags}}
        <div class="chip hidden-xs visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
          <tag class="tag">{{this}}</tag>
        </div>
        {{/each}}
        <div class="chip" id="likeButton">
          <i class="fa fa-thumbs-o-up"></i>&nbsp;{{likes}}&nbsp;&nbsp; Likes
        </div>
      </div>
    </div>
    {{/with}}
      {{>cardModal id=this.id}}
</template>
