<template name="cardGrid">
  {{#if validMultiRow}}
  <!-- Grabs rows of categories-->
    {{#each getRow}}
    <!-- take each category in the current row-->
    <div class="row">
      {{#each this}}
        <div class="col s3">
          <h2>{{this.category}}</h2>
        </div>
        <div class="col s1 form-modal">
          <span data-toggle="modal" data-target="#submit_{{getUniqueID this.category}}"><i class="material-icons add-card">add_circle</i></span>
          {{>cardSubmitModal category=this.category}}
        </div>
        {{/each}}
      </div>
      <div class="row">
        {{#each this}}
        <div class="col s4">
        {{#each cards this.category}}
        <div class="row">
            {{>card id=_id color= ../color}}
        </div>
        {{/each}}
        <!-- Stop displaying cards in category-->
      </div>
        {{/each}}
      </div>
        <!-- End of current category-->
    {{/each}}

    <!--end of table headers (categories)-->

    <!--Logic to produce card data grid if categories <= 3 -->
    {{else}}
    <div class="row">
      {{#each getCategories}}
      <div class="col s{{getColSpacing true}}">
        <h2>{{this.category}}</h2>
      </div>
      <div class="col s1 form-modal">
        <span data-toggle="modal" data-target="#submit_{{getUniqueID this.category}}"><i class="material-icons add-card">add_circle</i></span>
        {{>cardSubmitModal category=this.category}}
      </div>
      {{/each}}
    </div>
    <div class="row">
      {{#each getCategories}}
      <div class="col s{{getColSpacing false}}">
          {{#each cards this.category}}
          <div class="row">
            <div class="col s12">
              {{>card id=_id color= ../color}}
            </div>
          </div>
          {{/each}}
      </div>
      {{/each}}
    </div>
    {{/if}}
</template>
