<template name="cardGrid">
  <div id="displayGrid" class="row hide-on-med-and-down">
      {{#each getRow}}
    <div class="row">
        {{#each this}}
        <div class="col m{{getColSpacing this.category}}" id="cardCol">
            <h4>{{this.category}}
            <span data-toggle="modal" data-target="#submit_{{getUniqueID this.category}}">
                <i class="material-icons add-card">add_circle</i>
            </span>
          </h4>
            {{>cardSubmitModal category=this.category}}
            <div id="draggableCol" class="{{getUniqueID this.category}}" name="{{this.category}}">
              {{#each cards this.category}}
                  <div class="row" id="{{_id}}" position="{{this.position}}">
                          {{>card id=_id color= ../color}}
                  </div>
              {{/each}}
          </div>
        </div>
        {{/each}}
      </div>
      {{/each}}
  </div>
  <div id="displayGrid">
    {{#each getCategories}}
      <div class="row hide-on-large-only">
        <h4>{{this.category}}
          <span data-toggle="modal" data-target="#submit_{{getUniqueID this.category}}">
              <i class="small material-icons add-card">add_circle</i>
          </span>
        </h4>
        {{>cardSubmitModal category=this.category}}
      </div>
        {{#each cards this.category}}
            <div class="row hide-on-large-only">
                    {{>card id=_id color= ../color}}
            </div>
        {{/each}}
    {{/each}}
  </div>
</template>
