<template name="cardSubmitModal">
  {{#with getUniqueID this.category}}
  <div class="modal fade" id="submit_{{this.abbrv}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Submit a(n) {{this.category}} Card</h4>
        </div>
        <div class="modal-body">
          <form class="form-inline" role="form" id="card">
            <div class="form-group">
              <label class="control-label text-success" for="thoughts">Thought:</label>
              <input class="form-control" type="text" id="thoughts">
            </div>
            <div class="form-group">
              <label class="control-label text-success" for="tags">Tags:</label>
              <input type="text" id="tags" class="form-control tags" placeholder="Seperate tags with a comma ','">
            </div>
            <div class="form-group">
              <label class="control-label text-success">Category:</label>
              <select class="form-control" id="categoryDropdown">
                <option selected disabled style="display: none;">{{this.category}}</option>
              </select>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" id="submitCardButton" type="submit">Submit</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="cardModalClose" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {{/with}}
</template>
