<template name="cardGrid">
  <div class="container-fluid">
    <!--Logic for table headers-->
    {{#if validMultiRow}}
    {{#each getRow}}
      {{#each this}}
      <div class="row visible-xs-block hidden-sm hidden-md hidden-lg">
        <div class="col-xs-12">
          <h2>{{this.category}}</h2>
        </div>
      </div>
      {{#each cards this.category}}
      <div class="row visible-xs-block hidden-sm hidden-md hidden-lg">
        <div class="col-sxs-12 testcard">
          {{>card id=_id color= ../color}}
        </div>
      </div>
      {{/each}}
      {{/each}}
      <div class="row hidden-xs visible-sm-block visible-md-block visible-lg-block">
      {{#each this}}
        <div class="col-sm-3">
          <h2>{{this.category}}</h2>
        </div>
      {{/each}}
      </div>
      <div class="row hidden-xs visible-sm-block visible-md-block visible-lg-block">
      {{#each this}}
        <div class="col-sm-3">
            {{#each cards this.category}}
            <div class="row">
              <div class="col-sm-12 testcard">
                {{>card id=_id color= ../color}}
              </div>
            </div>
            {{/each}}
        </div>
      {{/each}}
    </div>
    {{/each}}
    {{else}}
    <div class="row hidden-xs visible-block">
      {{#each getCategories}}
      <div class="col-sm-{{getNumCategories}}">
        <h2>{{this.category}}</h2>
      </div>
      {{/each}}
    </div>
    {{/if}}
    <!--end of table headers (categories)-->
    <!--Logic to produce card data-->
    {{#if validMultiRow}}
    {{else}}
    <div class="row hidden-xs visible-sm-block visible-md-block visible-lg-block">
      {{#each getCategories}}
      <div class="col-sm-{{getNumCategories}}">
          {{#each cards this.category}}
          <div class="row">
            <div class="container-fluid">
            <div class="col-sm-12 testcard">
              {{>card id=_id color= ../color}}
            </div>
          </div>
          </div>
          {{/each}}
      </div>
      {{/each}}
    </div>
    {{#each getCategories}}
    <div class="row hidden-sm hidden-md hidden-lg visible-xs-block">
      <div class="col-xs-10">
        <h2>{{this.category}}</h2>
      </div>
      <div class="col-xs-2">
        <span data-toggle="modal" data-target="#submit_{{getUniqueID this.category}}"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></span>
        {{>cardSubmitModal category=this.category}}
      </div>
    </div>
      {{#each cards this.category}}
      <div class="row hidden-sm hidden-md hidden-lg visible-xs-block">
        <div class="col-xs-12">
          {{>card id=_id color=../color}}
        </div>
      </div>
      {{/each}}
    {{/each}}
    {{/if}}
    <!--end of card production-->
  </div>
</template>
