<template name="cardModal">
    {{#with cardModalInfo this.id}}
    <div class="modal fade" id="{{_id}}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="u-right close icon-red" data-dismiss="modal" aria-hidden="true">
                      <i class="material-icons">close</i>
                    </span>
                    <h4 class="modal-title">{{text}}</h4>
                </div>
                <div class="modal-body">
                    {{#if inEditMode}}
                    <form id="edit-form">
                        <span class="input-group-addon text-success" for="thought">Thought</span>
                        <input class="form-control" type="text" name="thought" value={{text}}>
                        <span class="input-group-addon text-success" for="tags">Tags</span>
                        <input type="text" id="tags" class="form-control tags" placeholder="Seperate tags with a comma ','" value={{cardTags _id}}>
                        <span class="input-group-addon text-success" for="categoryDropdown">Category</span>
                        <select class="browser-default" id="categoryDropdown">
                            <option selected disabled style="display: none;">Select a Category</option>
                            {{#each categories}} {{#if equals this.category ../category}}
                            <option selected>{{this.category}}</option>
                            {{else}}
                            <option>{{this.category}}</option>
                            {{/if}} {{/each}}
                        </select>
                        <br>
                        <input class="btn btn-success form-control" type="submit" value="Update">
                    </form>
                    {{else}}
                    <p>Thought:
                        <thought class="thought">{{text}}</thought>
                    </p>
                    <p>Category: {{category}}</p>
                    <p>Tags:
                      {{#each tags}}
                        <span class="tag {{this}}" style="word-wrap: break-word;">{{this}}</span>&nbsp;&nbsp;<i id="removeTag" class="material-icons fa fa-ban {{this}}"></i>&nbsp;&nbsp;
                      {{/each}}
                    </p>
                    <p>Author: {{author}}</p>
                    <p>Created at: {{createdAt}}</p>
                    <hr>
                    <form id="commentFormField">
                        <div class="commentFormGroup input-group">
                            <span class="input-group-addon text-success hidden-xs" for="Comment">Leave A Comment</span>
                            <input class="form-control" type="text" id="comment" placeholder="Comment..." maxlength="500">
                            <span class="input-group-btn"><input class="btn retrospectre-blue" id="submitCommentButton" type="submit"></span>
                        </div>
                    </form>
                    <div>
                        <h4>User Submitted Comments</h4>
                        <span id="expand"><i class="fa fa-caret-right"></i></span>
                    </div>
                    <ul class="collapsible popout" data-collapsible="accordion">
                      {{#each comments}}
                      <li>
                        <div class="collapsible-header blue-grey darken-4">
                          {{#if this.avatar}}
                          <img class="img-responsive img-rounded" src="{{this.avatar}}" />
                          {{/if}}
                          <p class="white-text">&nbsp;&nbsp; {{this.text}}</p>
                        </div>
                        <div class="collapsible-body">
                          <p>Author: {{this.author}}</p>
                        </div>
                      </li>
                      {{/each}}
                    </ul>
                    {{/if}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn retrospectre-blue" style="visibility: {{showEditButton _id}}">
                        <span><i class="fa fa-cog"></i>&nbsp;</span>Edit Card
                    </button>
                    {{!-- {{#if inEditMode}} <input class="btn retrospectre-blue" type="submit" form="edit-form" value="Update"> {{/if}} --}}
                    <button type="button" class="btn retrospectre-blue" id="deleteCardButton" data-dismiss="modal">Delete Card</button>
                    <button id="cardModalClose" type="button" class="btn btn-flat text-red" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
    <script>
        $(document).ready(function() {
            $('.collapsible').collapsible({
                accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
            });
            $("ul.collapsible li").hide();
        });
    </script>
</template>
