<template name="cardSubmitArea">
  <div class="panel panel-default hidden-xs">
    <div class="panel-body">
      <div class="card-form container-fluid">
        <form class="form-inline" role="form" id="card">
          <div class="form-group">
            <label class="control-label text-success" for="thoughts">Thought:</label>
            <input class="form-control" type="text" id="thoughts">
          </div>
          <div class="form-group">
            <label class="control-label text-success" for="tags">Tags:</label>
            <input type="text" id="tags" class="form-control tags" placeholder="Seperate tags with a comma ','">
          </div>
          <div class="form-group">
            <label class="control-label text-success">Category:</label>
            <select class="form-control" id="categoryDropdown">
              <option selected disabled style="display: none;">Select a Category</option>
              {{#each categories}}
              <option>{{this.category}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" id="submitCardButton" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
