<template name="createRoom">
    <h1 class="center text-primary">CREATE A ROOM</h1>
    <form class="create-room">
        <h3 class="center">
            <span>
                <label class="text-info">Room Code</label>
                <div id="newRoomCode" class="input-group">
                    <input type="text" class="form-control" name="roomcode" value="{{getNewRoomNumber}}" size="35" maxlength="35" autocomplete="off">
                    <span class="input-group-addon" title="Room name not available" id="roomNotAvailableIcon" style="display: {{roomNotAvailableShow}}"><i class="fa fa-times-circle text-warning"></i></span>
                    <div class="input-group-btn">
                        <button id="generateNewRoomCodeButton" type="button" class="btn btn-default"><i class="fa fa-refresh text-info"></i></button>
                    </div>
                </div>
            </span>
        </h3>
    </form>

        <form class="customCategory">
            <span>
                <label class="text-info center">Add Categories</label>
                <div id="addCategory" class="input-group center">
                    <input type="text" class="form-control" name="addCustomCategory" size="35" maxLength="35" autocomplete="off">
                        <div id="customCategories" class="input-group-btn">
                            <button id="addCustomCategoryButton" type="submit" class="btn btn-default">
                                <i class="fa fa-plus text-info"></i>
                            </button>
                        </div>
                </div>
                <div class="center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Current Categories </th>
                                <th> Background Color</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each getCategories}}
                                <tr>
                                    <td> {{this.category}} </td>
                                    <td> <input {{colorPicker this.color}}/> </td>
                                    <td> <button id="removeCategory" type="button" class="btn btn-default btn-xs">
                                            <i class="fa fa-minus text-info"></i>
                                        </button>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </span>
        </form>
        <!--<h3 class="center text-info">Alias:
            <input type="text" name="alias" value="Moderator" size="20" maxlength="20" autocomplete="off">
        </h3>-->
        <input class="center btn btn-primary {{createRoomDisable}}" id="createAndJoinRoomButton" name="joinRoom" type="button" value="CREATE AND JOIN ROOM" {{createRoomDisable}}>
</template>
