<template name="exportRoom">
  <div class="row">
    <div class="col s12">
        <div class="room-contain">
          <div class="row">
            <div class="col s12">
              <div class="export-selection">
            <button class="btn retrospectre-gold" id="copyToClipboardButton" type="button">Copy To Clipboard</button>
            {{#if getSummaryView}}
            	<button class="btn retrospectre-gold" id="exportAllButton" type="button">Comprehensive View</button>
            {{else}}
            	<button class="btn retrospectre-gold" id="exportSummaryButton" type="button">Summary View</button>
           	{{/if}}
          </div>
        </div>
      </div>
       <textarea id="textArea" class="export-text" rows="50" cols="200" style="margin: 10px 10px 10px 10px" readonly>
            {{#if getSummaryView}}
{{!--        --}}{{#each getCategories}}
{{!--            --}}{{this.category}}
{{!--            --}}{{#each getCards this.category}}
{{!--                --}}Thought: {{text}}
{{!--            --}}{{/each}}
{{!--        --}}{{/each}}
            {{else}}
{{!--        --}}{{#each getCategories}}
{{!--            --}}{{this.category}}
{{!--            --}}{{#each getCards this.category}}
{{!--                --}}Thought: {{text}}
{{!--                --}}Tags: {{tags}}
{{!--                --}}Author: {{author}}
{{!--                --}}Comments: {{getComments this}}
{{!--                --}}Likes: {{likes}}
{{!--            --}}{{/each}}
{{!--        --}}{{/each}}
            {{/if}}
        </textarea>
      </div>
    </div>
  </div>
</template>
