<template name="exportRoom">
    <body>
    <div class="plainText">
        {{#each getCategories}}
            <p> {{this}} </p>
            {{#each getCards this}}
                     Thought: &nbsp; {{text}} <br>
                    Tags: &nbsp; {{tags}} <br>
                    Author: &nbsp; {{author}} <br>
                    Comments: &nbsp; {{comments}} <br>
                    Likes: &nbsp; {{likes}} <br>
                    <br>
            {{/each}}
        {{/each}}
    </div>
</body>
</template>
