<template name="landingPage">
    <div class="center-block container">
        <h1 id="welcomeHeader" class="center-block text-info">Welcome to the Retrospectre</h1>
        <form class="join-room">
            <input class="center-block" id="roomCode" name="roomCode" type="text" placeholder="Room Code..." autocomplete="off">
            <br>
            <input class="center-block btn-primary" id="joinRoom" name="joinRoom" type="submit" value="JOIN ROOM" style="margin: 0 auto">
        </form>
        <br>
        <input class="center-block btn-primary" id="createRoomButton" type="button" value="CREATE ROOM" style="margin: 0 auto">
        <br>
    </div>
</template>
