<template name="loginModal">
    <div id="LogInModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="alias-title">Set Alias</h4>
                </div>
                <div class="modal-body alias">
                    <form id="set-alias" class="form" role="form">
                        <span class="input-group-addon text-success hidden-xs" for="Comment">Enter Your Name:</span>
                        <input class="form-control" type="text" id="alias" value="{{currentAlias}}" maxlength="50">
                        <button class="btn retrospectre-gold" id="submitAliasButton" type="submit">Set Alias</button>
                        <button type="button" class="btn btn-flat text-red" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
