<template name="moderatorModal">
    <div class="modal fade" id="moderator-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="u-right close" data-dismiss="modal">
                        <i class="material-icons">close</i>
                    </span>
                    <h4 class="modal-title">Moderator Actions</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        {{#if cardsHidden}}
                            <button class="btn retrospectre-blue col s3" id="revealCardButton" type="button">Reveal All Cards</button>
                            <span class="col offset-s1 s8">Reveals all hidden cards so everyone can see them.</span>
                        {{else}}
                            <button class="btn retrospectre-blue col s3" id="hideCardButton" type="button">Hide All Cards</button>
                            <span class="col offset-s1 s8">Hides all cards so only their respective authors can see them.</span>
                        {{/if}}
                    </div>
                    <div class="row">
                        <button class="btn retrospectre-blue col s3" id="clearRoomButton" type="button">Delete All Cards</button>
                        <span class="col offset-s1 s8">Deletes all cards in this room, including all associated data. This action is irreversible.</span>
                    </div>
                    <div class="row">
                        <button class="btn retrospectre-blue col s3" id="deleteRoomButton" type="button">Delete This Room</button>
                        <span class="col offset-s1 s8">Deletes this room and all data within. This action is irreversible.</span>
                    </div>
                    {{> categoriesSelector currentCategories=categories tracker=getTracker onCategoryCreated=onCategoryCreated onCategoryRemoved=onCategoryRemoved onColorChanged=onColorChanged}}
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</template>
