<template name="moderatorModal">
    <div class="modal fade" id="moderator-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="u-right close" data-dismiss="modal">
                        <i class="material-icons">close</i>
                    </span>
                    <h4 class="modal-title">Category Selector</h4>
                </div>
                <div class="modal-body">
                    {{> categoriesSelector currentCategories=categories tracker=getTracker onCategoryCreated=onCategoryCreated onCategoryRemoved=onCategoryRemoved onColorChanged=onColorChanged}}
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</template>
