<template name="room">
    <div class="row">
        <div class="col s12">
            <div class="room-contain">
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="col s12">
                                <div class="admin-room-actions u-pad-10">
                                    {{#if isModerator}}
                                        {{> moderatorModal}}
                                        <a id="moderator-dropdown-button" class="dropdown-button btn retrospectre-blue" data-activates="moderator-dropdown">Moderator Actions</a>
                                        <!-- Dropdown Structure -->
                                        <ul id="moderator-dropdown" class="dropdown-content">
                                            <li>
                                                {{#if cardsHidden}}
                                                    <a id="revealCardButton">Reveal All Cards</a>
                                                {{else}}
                                                    <a id="hideCardButton">Hide All Cards</a>
                                                {{/if}}
                                            </li>
                                            <li>
                                                <a id="clearRoomButton">Delete All Cards</a>
                                            </li>
                                            <li>
                                                <a id="deleteRoomButton">Delete Room</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a data-toggle="modal" data-target="#moderator-modal">Category Selector</a>
                                            </li>
                                        </ul>
                                    {{/if}}
                                    <button class="btn retrospectre-blue" id="exportButton" type="button">Export</button>
                                </div>
                            </div>
                        </div>
                        <div class="filter-form right">
                          {{> search}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{> cardGrid}}
                </div>
                <div class="row">
                    <div id="notesArea">
                        <label for="editor">Notes</label>
                        {{#with docid}}
                            {{> sharejsText docid=this id="editor"}}
                        {{/with}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
