<template name="loginModal">
    <div id="LogInModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Set Alias</h4>
                </div>
                <div class="modal-body">
                    <form id="set-alias" class="form" role="form">
                        <input class="form-control" type="text" id="alias" value="{{currentAlias}}" maxlength="50">
                        <button class="col-sm-2 btn btn-primary" id="submitAliasButton" type="submit">Set Alias</button>
                    </form>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>
